<table width="80%" style="margin: auto;">
  <tr>
    <td>
      <h2>Hi <%= name %>,</h2>
    </td>
  </tr>
  <tr>
    <td>
      <p>Thanks for getting started with service app!</p>
    </td>
  </tr>
  <tr style="margin-bottom: 25px;">
    <td>
      <p>
        Please click on the button for finish sign up process and verificate
        your account
      </p>
    </td>
  </tr>

  <tr>
    <td style="text-align: center; padding: 25px 0;">
      <a
        href="<%= link %>"
        style="
          display: block;
          margin: auto;
          width: 40%;
          padding: 40px 40px;
          background: #3f51b5;
          color: white;
          font-weight: bold;
          text-decoration: none;
        "
      >
        VERIFICATE
      </a>
    </td>
  </tr>
  <tr style="margin-top: 25px;">
    <td>
      <p>
        If you have some problems, please contact us
      </p>
    </td>
  </tr>
  <tr>
    <td>
      <div class="">
        Thanks,
      </div>
      <div class="">
        Service app team
      </div>
    </td>
  </tr>
</table>
